.content-container {

    .splash-screen-logo {
        position: relative;
        height: 515px;
        width: 400px;
        margin-top: 475px;
        margin-left: auto;
        margin-right: auto;
    }
}
