$margin-top-spacer: 10px;
$margin-left-spacer: 10px;
$left-spacer: 27px;
$left-content-spacer: 15px;
$main-width: 1024px;
$container-width: $main-width - $margin-left-spacer * 2;
$content-width: 640px;
$lsnt-content-width: $content-width + 30;

$image-width: 640px;
$image-height: 428px;

.main {
    position: relative;
    width: $main-width;
    height: 1305px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;

    .top-container {
        position: relative;
        margin-top: $margin-top-spacer;
        margin-left: $margin-left-spacer;
        height: 100px;
        width: $container-width;

        .lsnt-logo {
            position: absolute;
            width: 240px;
            height: 20px;
            top: 0;
            left: 0;
            font-size: 1em;
        }

        .lsnt-package-title {
            position: absolute;
            width: $content-width;
            height: 35px;
            top: 55px;
            left: $left-spacer;
            text-align: center;
            font-weight: bold;
            font-size: 2em;
        }

        .lsnt-facebook {
            position: absolute;
            width: 25px;
            height: 25px;
            top: $margin-top-spacer;
            left: 540px;
            border: 1px solid red;
        }

        .lsnt-twitter {
            position: absolute;
            width: 25px;
            height: 25px;
            top: $margin-top-spacer;
            left: 585;
            border: 1px solid red;
        }

        .lsnt-pinterest {
            position: absolute;
            width: 25px;
            height: 25px;
            top: $margin-top-spacer;
            left: 630px;
            border: 1px solid red;
        }

        .header-ad {
            position: absolute;
            width: 320px;
            height: 100px;
            top: 0;
            right: 0;
            background: green;
        }
    }

    .marquee-container {
        position: relative;
        margin-top: $margin-top-spacer;
        margin-left: $margin-left-spacer;
        height: 55px;
        width: $container-width;

        .marquee-ad {
            position: relative;
            width: 980px;
            height: 55px;
            margin-left: auto;
            margin-right: auto;
            background: yellow;
        }
    }

    .content-container {
        position: relative;
        margin-top: $margin-top-spacer;
        margin-left: $margin-left-spacer;
        height: 1120px;
        width: $container-width;

        .content-lsnt-container {
            position: relative;
            float: left;
            height: 800px;
            width: $lsnt-content-width;
            border: 3px solid black;
            margin-left: 20px;
            
            .lsnt-title {
                position: relative;
                width: $content-width;
                height: 25px;
                font-size: 1.5em;
                margin-top: $margin-top-spacer;
                margin-left: $left-content-spacer;
            }

            .lsnt-image {
                position: relative;
                width: $image-width;
                height: $image-height;
                background: pink;
                margin-top: $margin-top-spacer;
                margin-left: $left-content-spacer;
                border: 1px solid black;
            }

            .lsnt-description {
                position: relative;
                width: $content-width;
                height: 127px;
                margin-top: $margin-top-spacer;
                margin-left: $left-content-spacer;
                border: 1px solid blue;
            }

            .lsnt-bullets {
                position: relative;
                width: $content-width;
                height: 60px;
                margin-top: $margin-top-spacer;
                margin-left: $left-content-spacer;

                .lsnt-bullet-one {
                    position: relative;
                    width: $content-width;
                    height: 25px;
                    border: 1px solid blue;
                }

                .lsnt-bullet-two {
                    position: relative;
                    width: $content-width;
                    height: 25px;
                    margin-top: $margin-top-spacer;
                    border: 1px solid blue;
                }

                .lsnt-bullet-one-small {
                    position: absolute;
                    width: 315px;
                    height: 25px;
                    top: 0;
                    left: 0;
                    border: 1px solid blue;
                }

                .lsnt-bullet-two-small {
                    position: absolute;
                    width: 315px;
                    height: 25px;
                    top: 37px;
                    left: 0;
                    border: 1px solid blue;
                }

                .lsnt-bullet-three-small {
                    position: absolute;
                    width: 315px;
                    height: 25px;
                    top: 0;
                    right: 0;
                    border: 1px solid blue;
                }

                .lsnt-bullet-four-small {
                    position: absolute;
                    width: 315px;
                    height: 25px;
                    top: 37px;
                    right: 0;
                    border: 1px solid blue;
                }
            }

            .lsnt-navigation {
                position: relative;
                width: $content-width;
                height: 100px;
                margin-top: $margin-top-spacer;
                margin-left: $left-content-spacer;

                .lsnt-previous-button {
                    position: absolute;
                    width: 75px;
                    height: 100px;
                    top: 0;
                    left: 100px;
                    background: orange;
                }

                .lsnt-next-button {
                    position: absolute;
                    width: 75px;
                    height: 100px;
                    top: 0;
                    left: 465px;
                    background: orange;
                }

                .lsnt-catch-phrase {
                    position: absolute;
                    width: 200px;
                    height: 35px;
                    top: 32.5px;
                    left: 220px;
                    text-align: center;
                    font-weight: bold;
                }
            }

            .content-bottom-container {
                position: relative;
                height: 300px;
                left: 0;
                width: $lsnt-content-width;
                margin-top: 20px;

                .content-bottom-ad-container {
                    position: relative;
                    height: 90px;
                    left: $left-content-spacer;
                    width: $content-width;

                    .ad-left {
                        position: relative;
                        width: 200px;
                        height: 90px;
                        background: lightgreen;
                        margin-left: 10px;
                        float: left;
                    }

                    .ad-center {
                        position: relative;
                        width: 200px;
                        height: 90px;
                        background: lightgreen;
                        margin-left: 10px;
                        float: left;
                    }

                    .ad-right {
                        position: relative;
                        width: 200px;
                        height: 90px;
                        background: lightgreen;
                        margin-left: 10px;
                        float: left;
                    }
                }

                .content-bottom-lsnt-container {
                    position: relative;
                    height: 195px;
                    left: $left-content-spacer;
                    width: $content-width;
                    margin-top: $margin-top-spacer;

                    .lsnt-more-packages {
                        position: relative;
                        width: $content-width;
                        height: 25px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 1em;
                    }

                    .lsnt-package-container {
                        position: relative;
                        margin-top: $margin-top-spacer;
                        width: 642px;
                        height: 77px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 1em;
                        float: left;

                        .lsnt-package-item {
                            position: relative;
                            width: 135px;
                            height: 75px;
                            border: 1px solid orange;
                            margin-left: 18px;
                            float: left;
                        }
                    }
                }
            }
        }

        .content-ad-container {
            position: relative;
            float: left;
            height: 1120px;
            width: 300px;

            .ad-top {
                position: relative;
                width: 300px;
                height: 600px;
                background: blue;
            }

            .ad-middle {
                position: relative;
                width: 300px;
                height: 250px;
                margin-top: $margin-top-spacer;
                background: lightblue;
            }

            .ad-bottom {
                position: relative;
                width: 300px;
                height: 250px;
                margin-top: $margin-top-spacer;
                background: yellow;
            }

        }

    }
}



.italics {
    font-style: italic;
}
