@import '../../css/lsntBase';
@import '../pages/splash/splash';

$margin-left-spacer: 10px;
$margin-top-spacer: 10px;
$margin-bottom-spacer: 10px;
$main-width: auto;
$main-height: 100%;
$content-width: 640px;
$lsnt-content-width: $content-width + 30;

body {
    font-family: "Open Sans", sans-serif;
    color: $color-font;
}

a:hover,
a:focus,
a:visited,
a {
    color: $dark-color;
    text-decoration: none;
}

.main {
    position: relative;
    height: $main-height;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $dark-color;
    background: #fff;

    .content-container {
        position: relative;
        float: left;
        height: auto;
        width: $lsnt-content-width;
        margin-left: $margin-left-spacer * 2;
        border: 1px solid $dark-color;
    }

    .menu-container {
        position: relative;
        float: left;
        height: auto;
        width: 300px;
        border: 1px solid $dark-color;

        .menus {
            margin-left: $margin-left-spacer;

            .menu {
                margin-top: $margin-top-spacer;
                margin-bottom: $margin-bottom-spacer;
            }
        }
    }
}
